target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / NetBeans / VS Code ###
.classpath
.project
.settings
.vscode/
build/

### Mac OS ###
.DS_Store

### DailyDungeon ###
db.properties